// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2022 Radxa Limited.
 *
 */

/dts-v1/;

#include "rk3566-radxa-cm3.dtsi"

/ {
	model = "Radxa CM3 AudioPlatine Board";
	compatible = "radxa,cm3-io", "radxa,cm3", "rockchip,rk3566";

	vdd_24v: vdd-24v-input {
		compatible = "regulator-fixed";
		regulator-name = "vdd_24v_input";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <6000000>;
		regulator-max-microvolt = <26000000>;
	};

	audioplatine_5v: 5v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "audioplatine_5v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vdd_24v>;
	};

	audioplatine_3v3: 3v3-regulator-baseboard {
		compatible = "regulator-fixed";
		regulator-name = "audioplatine_3v3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vdd_24v>;
	};

	audioplatine_1v8: 1v8-regulator-baseboard {
		compatible = "regulator-fixed";
		regulator-name = "audioplatine_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vdd_24v>;
	};

	sound_i2s1 {
		compatible = "simple-audio-card";
		simple-audio-card,name = "PCM5102a I2S1-M1";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <64>;
		simple-audio-card,frame-master = <&cpu_master>;
		simple-audio-card,bitclock-master = <&cpu_master>;
		status = "okay";

		cpu_master: simple-audio-card,cpu {
				sound-dai = <&i2s1_8ch>;
		};
		simple-audio-card,codec {
				sound-dai = <&pcm5102a>;
		};
	};

	pcm5102a: pcm5102a {
		compatible = "ti,pcm5102a";
		#sound-dai-cells = <0>;
	};

};

&gpio_leds {
	pi-led-green {
		gpios = <&gpio4 4 GPIO_ACTIVE_LOW>;
		linux,default-trigger = "heartbeat";
		default-state = "on";
		pinctrl-0 = <&pi_led>;
	};

	pwr-led-red {
		gpios = <&gpio4 15 GPIO_ACTIVE_LOW>;
		linux,default-trigger = "default-on";
		pinctrl-0 = <&pwr_led>;
	};
};

&i2s0_8ch {
	status = "okay";
};

&i2s1_8ch {
    rockchip,clk-trcm = <1>;
    rockchip,bclk-fs = <64>;
    pinctrl-0 = <&i2s1m1_sclktx
				&i2s1m1_lrcktx
				&i2s1m1_sdi0
				&i2s1m1_sdo0
				&i2s1m1_mclk>;
    status = "okay";
};

&sdmmc0 {
	status = "okay";
	bus-width = <4>;

	vmmc-supply = <&vccio_sd>;
	vqmmc-supply = <&vccio_sd>;
	no-1-8-v;

	//max-frequency = <25000000>;
	max-frequency = <50000000>; 
	cap-sd-highspeed;
	/delete-property/ sd-uhs-sdr104;
	/delete-property/ sd-uhs-sdr50;
    /delete-property/ sd-uhs-sdr25;
    /delete-property/ sd-uhs-ddr50;

	//supports-sd;
	//cap-mmc-highspeed;
	//sd-uhs-sdr104;
	disable-wp;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
};

&u2phy0_host {
	// phy-supply = <&vcc5v0_usb30>;
	status = "okay";
};

&usbhost_dwc3 {
	status = "okay";
};

&usbhost30 {
	status = "okay";
};

&combphy1_usq {
	status = "okay";
};

&combphy2_psq {
	status = "okay";
};


&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2m0_xfer>;

	#address-cells = <1>;
	#size-cells = <0>;

	max98396_a: amplifier@39 {
		compatible = "adi,max98397";
		reg = <0x39>;

		adi,vmon-slot-no = <0>;
		adi,imon-slot-no = <1>;
		adi,bypass-slot-no = <0>;

		pinctrl-names = "default";
		pinctrl-0 = <&max98396_a_reset>;
		reset-gpios = <&gpio0 RK_PD6 GPIO_ACTIVE_LOW>;

		dvdd-supply = <&audioplatine_1v8>;
		dvddio-supply = <&audioplatine_1v8>;
		avdd-supply = <&audioplatine_1v8>;
		pvdd-supply = <&vdd_24v>;
		vbat-supply = <&audioplatine_5v>;
	};

	max98396_b: amplifier@3c {
		compatible = "adi,max98397";
		reg = <0x3C>;

		adi,vmon-slot-no = <2>;
		adi,imon-slot-no = <3>;
		adi,bypass-slot-no = <1>;
		
		pinctrl-names = "default";
		pinctrl-0 = <&max98396_b_reset>;
		reset-gpios = <&gpio4 RK_PD1 GPIO_ACTIVE_LOW>;

		dvdd-supply = <&audioplatine_1v8>;
		dvddio-supply = <&audioplatine_1v8>;
		avdd-supply = <&audioplatine_1v8>;
		pvdd-supply = <&vdd_24v>;
		vbat-supply = <&audioplatine_5v>;
	};

	codec: tlv320aic32x6@18 {
	compatible = "ti,tlv320aic32x6";
	reg = <0x18>;
	//clocks = <&clks 201>;
	//clock-names = "mclk";
	iov-supply = <&audioplatine_3v3>;
	dv-supply = <&audioplatine_1v8>;
	av-supply = <&audioplatine_1v8>;
	aic32x4-gpio-func= <
			0xff /* AIC32X4_MFPX_DEFAULT_VALUE */
			0xff /* AIC32X4_MFPX_DEFAULT_VALUE */
			0x04 /* MFP3 AIC32X4_MFP3_GPIO_ENABLED */
			0xff /* AIC32X4_MFPX_DEFAULT_VALUE */
			0x08 /* MFP5 AIC32X4_MFP5_GPIO_INPUT */
		>;
	};
};

&rk817 {
	rtc {
		status = "disabled";
	};
};

&soc_thermal {
	sustainable-power = <5000>; /* milliwatts */
	cooling-maps {
		map2 {
			trip = <&target>;
			contribution = <8192>;
		};
		map3 {
			trip = <&threshold>;
			contribution = <8192>;
		};
	};
};

&threshold {
	temperature = <60000>;
};

&pinctrl {
	i2s1 {
		i2s1m1_mclk: i2s1m1-mclk {
			rockchip,pins = <3 RK_PC6 4 &pcfg_pull_none>;
		};
	};

	leds {
		pi_led: pi-led{
			rockchip,pins = <4 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		pwr_led: pwr-led{
			rockchip,pins = <4 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdcard {
		sdmmc_pwren: sdmmc-pwren {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		/*tf_det_en: tf-det-en {
			rockchip,pins = <0 RK_PD4 RK_FUNC_GPIO &pcfg_output_low>;
		};*/
	};

	max98396 {
		max98396_a_reset: max98396-a-reset {
			rockchip,pins = <0 RK_PD6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		max98396_b_reset: max98396-b-reset {
			rockchip,pins = <4 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&gpio0 {
	gpio-line-names =
		/* GPIO0_A0-A3 */
		"", "", "", "",
		/* GPIO0_A4-A7 */
		"", "", "", "",

		/* GPIO0_B0-B3 */
		"", "", "", "",
		/* GPIO0_B4-B7 */
		"", "PIN_5", "PIN_3", "PIN_13",

		/* GPIO0_C0-C3 */
		"", "", "PIN_37", "PIN_15",
		/* GPIO0_C4-C7 */
		"", "PIN_31", "PIN_33", "PIN_11",

		/* GPIO0_D0-D3 */
		"PIN_10", "PIN_8", "", "",
		/* GPIO0_D4-D7 */
		"", "", "", "";
};

&gpio1 {
	gpio-line-names =
		/* GPIO1_A0-A3 */
		"", "", "", "",
		/* GPIO1_A4-A7 */
		"", "", "", "",

		/* GPIO1_B0-B3 */
		"", "", "", "",
		/* GPIO1_B4-B7 */
		"", "", "", "",

		/* GPIO1_C0-C3 */
		"", "", "", "",
		/* GPIO1_C4-C7 */
		"", "", "", "",

		/* GPIO1_D0-D3 */
		"", "", "", "",
		/* GPIO1_D4-D7 */
		"", "", "", "";
};

&gpio2 {
	gpio-line-names =
		/* GPIO2_A0-A3 */
		"", "", "", "",
		/* GPIO2_A4-A7 */
		"", "", "", "",

		/* GPIO2_B0-B3 */
		"", "", "", "",
		/* GPIO2_B4-B7 */
		"", "", "", "",

		/* GPIO2_C0-C3 */
		"", "", "", "",
		/* GPIO2_C4-C7 */
		"", "", "", "",

		/* GPIO2_D0-D3 */
		"", "", "", "",
		/* GPIO2_D4-D7 */
		"", "", "", "";
};

&gpio3 {
	gpio-line-names =
		/* GPIO3_A0-A3 */
		"", "", "", "",
		/* GPIO3_A4-A7 */
		"", "", "", "",

		/* GPIO3_B0-B3 */
		"", "", "", "",
		/* GPIO3_B4-B7 */
		"", "", "", "",

		/* GPIO3_C0-C3 */
		"", "", "", "",
		/* GPIO3_C4-C7 */
		"", "", "PIN_22", "PIN_12",

		/* GPIO3_D0-D3 */
		"PIN_35", "PIN_40", "PIN_38", "PIN_18",
		/* GPIO3_D4-D7 */
		"PIN_16", "PIN_7", "", "";
};

&gpio4 {
	gpio-line-names =
		/* GPIO4_A0-A3 */
		"", "", "", "",
		/* GPIO4_A4-A7 */
		"", "", "PIN_24", "PIN_36",

		/* GPIO4_B0-B3 */
		"PIN_21", "PIN_29", "PIN_19", "PIN_23",
		/* GPIO4_B4-B7 */
		"PIN_27", "PIN_28", "", "",

		/* GPIO4_C0-C3 */
		"PIN_32", "", "", "",
		/* GPIO4_C4-C7 */
		"", "", "", "",

		/* GPIO4_D0-D3 */
		"", "", "", "",
		/* GPIO4_D4-D7 */
		"", "", "", "";
};
